.fill-container{
   /*background-size: 100% 100%;*/
   background-repeat: no-repeat;
   background-position: center !important;
  /* margin: 4rem 0 !important;*/
}

.fill-container .fake{
    height: 16em;
    width: 75%;
}
.navbar-header{
	position: relative;
}
.navbar-header .level-info-container{
	display: inline-block;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    position: absolute;
    right: 7rem;
    top: 0.4rem;
}
.btn-fill{
	text-transform: uppercase !important;
}
.btn-yellow{
	background-color: #f5a623 !important;
	color: #ffffff;
}
.btn-red{
	color: #ffffff;
    background: #f13332 !important;
}
.btn-red-bordered{
	border: 1px solid #f13332;
    background: none !important;
    color: #f13332 !important;
}
.btn-later{
	border: 1px solid #00aa4f;
    background: none !important;
    color: #00aa4f !important;
    font-size: 1.2rem !important;
}
.modal-body #saveModal{
  text-align: center;
}
#saveModal .modal-body::before{
	    background: url(../img/progress.png);
    display: inline-block;
    height: 12rem;
    width: 10rem;
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    top: 3rem;
    left: 5rem;
    background-size: contain;
}
.modal-header {
    text-align: center;
}
.list-container{
  border: 0.5px solid #979797;
  margin: 2rem 0;
}
.list-container .list-title {
    padding: 1.3rem 1.5rem;
    background: #ecf0f1;
    width: 99.9%;
    position: relative;
}
.list-container  li {
        list-style: none;
    padding: 2rem 2rem 2rem 8rem;
    position: relative;
    
}
.list-container  li img{
  position: absolute;
  left: -4rem;
  height: 8rem;
  top: 0rem;
}


.iconHolder {
    display: inline-block;
    height: 3.2rem;
    width: 3.2rem;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}
.iconHolder.fb{
    background-image:  url(../img/facebook.png);    
}
.iconHolder.twt{
    background-image:  url(../img/twitter.png);    
}
.iconHolder.wts{
    background-image:  url(../img/whatsapp.png);    
}

.static{
}